.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em;
}

.cabecalho__menu {
    display: flex;
}

.cabecalho__menu--item {
    list-style: none;
    padding: 1.75rem 0.5rem;
}

.cabecalho__menu--link {
    color: var(--cinza-escuro);
    text-decoration: none;
}

.cabecalho__menu--link.ativo {
    color: #333333;
}

.cabecalho__menu--link:hover {
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .cabecalho {
        justify-content: center;
        margin: 0 0.5rem;
    }
    .cabecalho__logo {
        display: none;
    }
}